*{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    overflow: hidden;
    background: whitesmoke;
    padding: 0 3rem;
    margin: 0 10px;
}

body{
    background:#fffffa;
}

.opcao{
    float: left;
}

.modo{
    float: right;
}

header nav{
    line-height: 100px;
    display: inline;
}

header nav a:hover{
    background-color:skyblue;
    border-radius: 10px;
}

.conteudo{
    background-color: skyblue;
    width: 90%;
    max-width:700px;
    margin: auto;
    overflow: hidden;
}

button{
    padding: 5px;
}